<nav id="tim-navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" href=#><img src="./assets/img/timradio-logo.png" alt="tim radio logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <p>Administrator ({{userInfo?.email}})</p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" (click)="auth.logout()" ngbTooltip="Kliknij, aby wylogować">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row h-100">
        <div class="col col-12">
            <p style="background-color: lightgreen; margin-top: 100px; width: 20vw; text-align: center;">Dodane w ciągu
                ostatnich 5h</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Treść</th>
                        <th scope="col">Data</th>
                        <th scope="col">Aktywny</th>
                        <th scope="col">Czynność</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let greeting of greetingsList | slice: (page-1) * pageSize : page * pageSize; let i = index"
                        [ngStyle]="{'background-color': checkLastGreetings(greeting?.date?.seconds) ? 'lightgreen' : 'none'}">
                        <th scope="row">{{i+1}}</th>
                        <td>{{greeting?.name}}</td>
                        <td><i>{{greeting?.text}}</i></td>
                        <td>{{parseDate(greeting?.date?.seconds)}} (<span
                                style="font-weight: bold;">{{parseDateFromNow(greeting?.date?.seconds)}}</span>)</td>
                        <td class="text-center" style="font-weight: bold;">
                            <button (click)="changeGreetingStatus(greeting)"
                                [ngStyle]="{'color': greeting?.active ? 'darkgreen' : 'red'}"
                                class="btn btn-light btn-sm"
                                ngbTooltip="Kliknij, aby zmienić widoczność pozdrowienia">{{greeting?.active}} </button>
                        </td>
                        <td class="text-center">
                            <button (click)="deleteGreeting(greeting, modalContent)" class="btn btn-danger btn-sm"
                                ngbTooltip="Kliknij, aby usunąć pozdrowienie">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 justify-content-center">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="greetingsList.length">
            </ngb-pagination>
        </div>
    </div>
    <!-- Files management -->
    <div class="row">
        <div class="col col-12 form-group">
            <div class="card">
                <div class="card-header">
                    Dodawanie płyty tygodnia
                </div>
                <div class="card-body">
                    <form [formGroup]="fileUploadForm" (ngSubmit)="upload()">
                        <div class="form-group">
                            <p>Zdjęcie okładki: </p>
                            <input type="file" formControlName="file" class="text-nowrap text-truncate"
                                (change)="selectFile($event)" ngbTooltip="Kliknij, aby wybrać plik z okładką płyty tygodnia" />
                        </div>
                        <div class="form-group">
                            <p>Opis płyty tygodnia: </p>
                            <textarea style="width: 100%" formControlName="description" rows="3" ngbTooltip="Wpisz opis płyty tygodnia"></textarea>
                        </div>
                        <div *ngIf="currentFileUpload" style="margin: 10px;" class="progress mt-2">
                            <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}"
                                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                                {{ percentage }}%
                            </div>
                        </div>
                        <p *ngIf="percentage === 100">Plik został wysłany</p>
                        <div class="form-group text-right">
                            <button type=submit class="btn btn-success btn-sm" [disabled]="!fileUploadForm.valid" ngbTooltip="Kliknij, aby dodać płytę tygodnia">
                                Dodaj
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Lista okładek</div>
                <ul class="list-group list-group-flush" *ngFor="let file of fileUploads">
                    <li class="list-group-item">
                        <app-upload-details [fileUpload]='file'></app-upload-details>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #modalContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Uwaga!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Czy na pewno chcesz usunąć pozdrowienie?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('YES click')">Tak</button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('NO click')">Nie</button>
    </div>
</ng-template>

<!-- <router-outlet></router-outlet> -->