<nav id="tim-navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" href=#><img src="./assets/img/timradio-logo.png" alt="tim radio logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <p>Administrator ({{userInfo?.email}})</p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" (click)="auth.logout()" ngbTooltip="Kliknij, aby wylogować">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row h-100">
        <div class="col col-12">
            <p style="background-color: lightgreen; margin-top: 100px; width: 20vw; text-align: center;">Dodane w ciągu
                ostatnich 5h</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Treść</th>
                        <th scope="col">Data</th>
                        <th scope="col">Aktywny</th>
                        <th scope="col">Czynność</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let greeting of greetingsList | slice: (page-1) * pageSize : page * pageSize; let i = index"
                        [ngStyle]="{'background-color': checkLastGreetings(greeting?.date?.seconds) ? 'lightgreen' : 'none'}">
                        <th scope="row">{{i+1}}</th>
                        <td>{{greeting?.name}}</td>
                        <td><i>{{greeting?.text}}</i></td>
                        <td>{{parseDate(greeting?.date?.seconds)}} (<span
                                style="font-weight: bold;">{{parseDateFromNow(greeting?.date?.seconds)}}</span>)</td>
                        <td style="font-weight: bold;">
                            <button (click)="changeGreetingStatus(greeting)"
                                [ngStyle]="{'color': greeting?.active ? 'darkgreen' : 'red'}"
                                class="btn btn-light" ngbTooltip="Kliknij, aby zmienić widoczność pozdrowienia">{{greeting?.active}} </button>
                        </td>
                        <td>
                            <button (click)="deleteGreeting(greeting)" class="btn btn-danger" ngbTooltip="Kliknij, aby usunąć pozdrowienie">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 justify-content-center">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="greetingsList.length">
            </ngb-pagination>
        </div>
    </div>
</div>



<!-- <router-outlet></router-outlet> -->