<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href=#><img src="./../assets/img/timradio-logo.png" alt="tim radio logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Słuchaj
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="http://s3.slotex.pl:7708/listen.pls?sid=1">Winamp</a>
            <a class="dropdown-item" href="http://s3.slotex.pl:7708/listen.m3u?sid=1">M3U</a>
            <a class="dropdown-item" href="http://s3.slotex.pl:7708/listen.asx?sid=1">Windows Media Player</a>
            <a class="dropdown-item" href="http://s3.slotex.pl:7708/listen.xspf?sid=1">VLC Media Player</a>
            <a class="dropdown-item" href="http://s3.slotex.pl:7708/listen.xtl?sid=1">QuickTime Player</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ramówka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nasi grający</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Zamów kawałek</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="hello-text font-weight-light">Słuchaj nas online</h1>
        <audio controls preload="none">
          <source src="http://s3.slotex.pl:7708/stream/1/;?type=http"></audio>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Ramówka</h2>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let program of radioProgramModel">
            <th scope="row">1</th>
            <td>{{program.monday}}</td>
            <td>{{program.tuesday}}</td>
            <td>{{program.wednesday}}</td>
            <td>{{program.thursday}}</td>
            <td>{{program.friday}}</td>
            <td>{{program.saturday}}</td>
            <td>{{program.sunday}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<router-outlet></router-outlet>