<nav id="tim-navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a (click)="scrollToElement('hero')" class="navbar-brand" href=#><img src="./assets/img/timradio-logo.png"
        alt="tim radio logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Słuchaj nas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https://s3.slotex.pl/shoutcast/7708/listen.pls?sid=1">Winamp</a>
            <a class="dropdown-item" href="https://s3.slotex.pl/shoutcast/7708/listen.m3u?sid=1">M3U</a>
            <a class="dropdown-item" href="https://s3.slotex.pl/shoutcast/7708/listen.asx?sid=1">Windows Media
              Player</a>
            <a class="dropdown-item" href="https://s3.slotex.pl/shoutcast/7708/listen.xspf?sid=1">VLC Media Player</a>
            <a class="dropdown-item" href="https://s3.slotex.pl/shoutcast/7708/listen.xtl?sid=1">QuickTime Player</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('our-djs')" href="#our-djs">Nasz skład</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToElement('whats-played')" href="#whats-played">Ramówka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo(['login'])">Panel prezentera</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header id="hero" class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center masthead-content">
        <h1 class="hello-text font-weight-light">#zostańwdomu i słuchaj nas online</h1>
        <p>Zajrzyj na aktualną ramówkę</p>
        <p><img src="http://status.gadu-gadu.pl/users/status.asp?id=70708763&styl=0"> 70708763</p>
        <p>
          <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;<a href="mailto: timradio@op.pl">timradio@op.pl</a>
        </p>
        <audio controls duration="true" preload="none">
          <source src="https://s3.slotex.pl/shoutcast/7708/stream?sid=1">
        </audio>
        <ng-marquee duration="60s" [stopOnHover]="true">
          <mark style="background-color: transparent; color: white;">
            <span *ngFor="let greeting of greetingsList">
              <span *ngIf="greeting?.active">
                <b style="color: red;">{{greeting?.name}}</b>: <i>{{greeting?.text}} &nbsp; &nbsp; </i>
              </span>
            </span>
          </mark>
        </ng-marquee>
      </div>
    </div>
  </div>
</header>

<section id="our-djs" class="our-djs">
  <div class="d-md-flex our-djs-left h-md-100 align-items-center">
    <div class="col-md-6 p-0 bg-danger h-md-100">
      <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
        <div class="pt-5 pb-5">
          <h1 class="display-5 font-weight-light text-white">Nasz skład</h1>
          <p class="text-white our-djs-description">Zespół TiM Radio to ludzie z wieloletnim doświadczeniem w branży
            muzycznej.
            Tworzą go osoby z pasją do muzyki, dzieląc się nią z słuchaczami każdego dnia. </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0 bg-danger h-md-100">
      <div class="d-md-flex our-djs-right align-items-center h-100 p-5 text-center justify-content-center">
        <div class="pt-5 pb-5">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="./assets/img/waldmix-foto.jpeg" class="card-img fitted-image"
                        alt="Waldmix DJ TiM Radio">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title">Waldek (Waldmix)</h3>
                        <div class="divider"></div>
                        <p class="card-text italic">"Założyciel Radia TiM. Miłośnik włoskiej muzyki i chińskiego
                          jedzenia.
                          Namiętny
                          słuchacz disco, wielbiciel zwierząt, w szczególności jego psa - Bandziora.
                          W radiach gościnnie od prawie trzech lat. DJ od ponad trzydziestu wiosen. Zamiłowanie do
                          grania w
                          radiu
                          zawdzięcza DJ'owi Krisowi z Radia80 oraz DJ'owi Marchewie"</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="./assets/img/szafira.jpeg" class="card-img fitted-image" alt="Waldmix DJ TiM Radio">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title">Aleksandra (Szafira)</h3>
                        <div class="divider"></div>
                        <p class="card-text italic">"Szafira lubi pisanie i muzykę oraz pisać o muzyce. Chociaż jej
                          serce należy do lat 60, to chętnie słucha muzyki ze wszystkich dekad. Ulubione gatunki Szafiry
                          to POP i ROCK we wsystkich odmianach. "</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="./assets/img/dj-olej.jpeg" class="card-img fitted-image" alt="Waldmix DJ TiM Radio">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title">DJ Olej</h3>
                        <div class="divider"></div>
                        <p class="card-text italic">"DJ Olej, toleruje przede wszystkim muzykę space, ale pozostałe
                          gatunki również nie są mu obce. Wiarę w TiMradio niesie wszedzie, gdziekolwiek pojawi się na
                          motorze.."</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
              <span class="sr-only">Poprzedni</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
              <span class="sr-only">Następny</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="whats-played">

  <div class="d-md-flex our-djs-left h-md-100 align-items-center">
    <div class="col-md-6 p-0 h-md-100" style="background-color: black;">
      <div class="d-md-flex align-items-center h-100 text-center justify-content-center">
        <div class="card">
          <div class="card-header">
            <h1 class="display-5 font-weight-light">Ramówka</h1>
          </div>
          <div class="card-body">
            <!-- <table class="table table-dark">
              <thead>
                <th>PN</th>
                <th>WT</th>
                <th>ŚR</th>
                <th>CZ</th>
                <th>PT</th>
                <th>SB</th>
                <th>ND</th>
              </thead>
              <tbody>
                <tr *ngFor="let program of radioProgramModel">
                  <td><b>Poniedziałek: </b>{{program.monday}}</td>
                  <td><b>Wtorek: </b>{{program.tuesday}}</td>
                  <td><b>Środa: </b>{{program.wednesday}}</td>
                  <td><b>Czwartek: </b>{{program.thursday}}</td>
                  <td><b>Piątek: </b>{{program.friday}}</td>
                  <td><b>Sobota: </b>{{program.saturday}}</td>
                  <td><b>Niedziela: </b>{{program.sunday}}</td>
                </tr>
              </tbody>
            </table> -->
            <div class="text-left" *ngFor="let program of radioProgramModel" style="color: black;">
              <p><b>Poniedziałek: </b>{{program.monday}}</p>
              <p><b>Wtorek: </b>{{program.tuesday}}</p>
              <p><b>Środa: </b>{{program.wednesday}}</p>
              <p><b>Czwartek: </b>{{program.thursday}}</p>
              <p><b>Piątek: </b>{{program.friday}}</p>
              <p><b>Sobota: </b>{{program.saturday}}</p>
              <p><b>Niedziela: </b>{{program.sunday}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-0 h-md-100" style="background-color: black;">
      <div class="d-md-flex align-items-center h-100 text-center justify-content-center">
        <div *ngIf="cdOfTheWeek?.length !== 0" class="">
          <h1 class="display-5 font-weight-light text-white">Płyta tygodnia</h1>
          <img style="width: 40%; height: auto; border: none;" [src]="cdOfTheWeek[0].url" alt="">
          <p style="color: white; margin: 10px"><b>{{cdOfTheWeek[0]?.title}}</b></p>
          <p style="color: white; margin: 10px"><i>{{cdOfTheWeek[0]?.description}}</i></p>
        </div>
        <div style="color: white; margin: 10px" *ngIf="cdOfTheWeek?.length === 0">Płyta tygodnia nie została jeszcze
          wybrana.</div>
      </div>
    </div>
  </div>


  <!-- <div *ngFor="let program of radioProgramModel" class="accordion" id="accordionExample">
      <div class="card bg-dark text-white">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Poniedziałek
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            {{program.monday}}
          </div>
        </div>
      </div>
      <div class="card card bg-dark text-white">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Wtorek
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            {{program.tuesday}}
          </div>
        </div>
      </div>
      <div class="card card bg-dark text-white">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Środa
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            {{program.wednesday}}
          </div>
        </div>
      </div>
      <div class="card card bg-dark text-white">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              Czwartek
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            {{program.thursday}}
          </div>
        </div>
      </div>
      <div class="card card bg-dark text-white">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
              Piątek
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            {{program.friday}}
          </div>
        </div>
      </div>
      <div class="card card bg-dark text-white">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
              data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
              Sobota
            </button>
          </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            {{program.saturday}}
          </div>
        </div>
      </div>
      <div class="card card bg-dark text-white">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
              data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
              Niedziela
            </button>
          </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            {{program.sunday}}
          </div>
        </div>
      </div>
    </div> -->

</section>

<section id="whats-played" class="py-5 bg-secondary">
  <div class="container text-center">
    <h1 class="text-white">Panel pozdrowień</h1>
    <p class="text-light">Wypełnij formularz i zamów pozdrowienia lub kawałek</p>
    <div class="row text-left">
      <div class="col col-12">
        <form [formGroup]="greetingsForm" (ngSubmit)="onSubmit(content)">
          <div class="form-group">
            <label class="text-white">Imię/Nick:</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Pole Imię/Nick jest wymagane!</div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-white">Tekst pozdrowień (min. 10 znaków):</label>
            <textarea type="text" formControlName="text" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.text.errors }">
            </textarea>
            <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
              <div *ngIf="f.text.errors.required">Pole tekst pozdrowień jest wymagane!</div>
            </div>
          </div>
          <div class="form-group text-right">
            <button [disabled]="!greetingsForm.valid" class="btn btn-primary"
              ngbTooltip="Kliknij, aby wysłać pozdrowienie">WYŚLIJ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sukces!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Dziękujemy za wysłanie pozdrowień. Ukażą się one na stronie głównej po zaakceptowaniu przez administratora.</p>
    <p style="color: grey">Pozdrawiamy - Zespół TiM Radio</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('OK click')">OK</button>
  </div>
</ng-template>

<router-outlet></router-outlet>